  #cookiePopup {
    background-color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    width: 28vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
  }
  #cookiePopup img {
    display: block;
    width: 6em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
  }
  #cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
  }
  #cookiePopup button {
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
  }
  #cookiePopup a {
    color: #6859fe;
  }
  .hideCookie {
    visibility: hidden;
    bottom: 0;
    right: 2em;
  }
  .showCookie {
    visibility: visible;
    bottom: 2em;
    right: 2em;
  }
  @media only screen and (max-width: 37.5em) {
    #cookiePopup {
      width: 100%;
    }
    .hideCookie {
      bottom: 2em;
      right: 0;
    }
    .showCookie {
      right: 0;
      bottom: 0;
    }
  }